.navbat-styl {
    background-color: rgba(255, 134, 47, 0.622);


}

* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


footer {
    background-color: rgba(255, 141, 60, 0.581);


    height: 91px;
}

main {
    min-height: 81vh;
}


.p-style {
    text-align: justify;
}


.bigDivision {
    background: rgb(255, 250, 239);
    background: radial-gradient(circle, rgb(242, 229, 207) 0%, rgba(249, 174, 130, 0.903) 100%);
    min-height: 100vh;
}



.coli {
    margin: 0;
    padding: 0;
    overflow: hidden;


}

.imgBox:hover {
    transform: scale(1.1);
    transition: all 1.5s;
    opacity: .75;
}

#markstable101 {

    th,
    td {
        text-align: center;
        background-color: #fb932c3e;
        border: 1px solid black;
        align-items: center;
        vertical-align:middle;
        
    }

}



.PASSOne{
    color: chartreuse;
}

.FAILOne{
    color: red;
}